                                                    /* navigation */

header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 2rem;

}

header nav .right-nav{
    display: flex;
    text-align: center;
}

header nav .right-nav a{
    padding: 0px 20px;
    color: #4d4d4d;
    margin-top: 7px;
    
}
.left-nav{
    margin-left: 10px;
}

.left-nav > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #000000;
    border-radius: 7px;
    padding: 5px 7px;

}

.left-nav .login i {
    color: #4d4d4d;

}

.left-nav .login a {
    color: #4d4d4d;
    margin: 0px 10px;

}

                                           /* section / sliders */

header .slider{
    position: relative;
}

header .slider .slides .item{
    position: relative;
    display: none;
}

header .slider .slides .item img{
    width: 100vw;
    height:500px;
}

header .slider .slides .item span{
     position: absolute;
    z-index: 1;
    margin-bottom: 20px;
    color: #d79e9e;
    font-size: 4rem; 
}

header .slider .slides .item .sp2{
    right:61% ;
    color: #d79e9e ;

}



#slide3 span{
    font-size: 6rem;
    color: #e05565b6;
    top: 500px;
    right: 330px;
     border-bottom: 2px solid rgb(255, 255, 255);
     border-radius: 10px; 
}

#slide2 span{
    color: #f7f1e3;
    right: 1050px;
    top: 50px;
    font-size: 8rem;
}

header .slider .slides .active{
    display: block;
   
}

header .slider .buttons{
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 30px;
    color: #ebe9e4;

}

header .slider .buttons i{
    padding-left: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

header .slider .buttons i:hover{
    color: rgba(255, 255, 255, 0.282);

}


                                    /* start to make main layout */  

main .main-section{
    margin-top: 30px;  
}

main .main-section .main-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

section .main-div .prouduct1{
    margin: 50px 25px;
    box-shadow: 0px 0px 15px 0px rgb(255, 1, 1);
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    height: 380px;
    position: relative;
}

section .main-div .without-red{
    box-shadow: 0px 0px 10px 7px rgba(85, 85, 85, 0.664);
}


section .main-div .prouduct1 .img-star .img-headphone1{
    width: 80%;
    margin-top: 30px;
}

section .main-div .prouduct1 .img-star .img-headphone2{
    width: 70%;
    margin-top: 30px;
}

section .main-div .prouduct1 .img-star .img-headphone3{
    width: 75%;
    margin-top: 45px;

}

section .main-div .prouduct1 .img-star .img-headphone4{
    width: 60%;
    margin-top: 30px;
}

section .main-div .prouduct1 .img-star .star-icon{
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 1.8rem;
    color: gold;
}

section .main-div .prouduct1 .img-star .hot-offer{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: #ff4631;
    padding: 5px 10px;
    font-size: 2rem;
    border-radius: 7px;
    top: 15px ;
    right: 17px;
}

.titel-price-icon-a .titel{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    right: 37px;
    bottom: 70px;
}

.titel-price-icon-a .price{
    position: absolute;
    font-size: 2.2rem;
    bottom: 20px;
    right: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    font-weight: bold;
}

.titel-price-icon-a .icons{
    display: flex;
    position: absolute;
    font-size: 2rem;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}

.titel-price-icon-a .icons .icon-a1 {
    display: flex;
    align-items: center;
    margin-left: 15px;
    background-color: #ff3314;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    padding: 7px;
     transition: .75s;
}

.titel-price-icon-a .icons .icon-a1:hover{
    width: 100px;

}

.titel-price-icon-a .icons .icon-a2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    background-color: #ff3314;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    transition: .75s;
    padding: 8px;
}

.titel-price-icon-a .icons .icon-a2:hover{
    width: 100px;
}

.kiri2,.kiri4{
    display: none;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    font-size: 2.2rem;
}

.titel-price-icon-a .icons .icon-a2:hover .kiri4{
    display: block;
}

.titel-price-icon-a .icons .icon-a1:hover .kiri2{
    display: block;
}


.kiri1,.kiri3{
    color: white;
}

.kiri3{
    font-size: 17px;
}


                                      /* start to make supper offer */

.supper-offer-section{

}

.supper-offer-section .supper-offer-div{
    display: grid;
    grid-template-columns: 5fr ;
    margin-top: 50px;

}

.supper-offer-section .supper-offer-div .right-supper-offer{
    position: relative;
    box-shadow: 0px 2px 10px 0px rgb(141, 134, 140);
    margin: 5px 20px 5px 20px;
    height: 300px;
    border-radius: 10px;
}

.right-supper-offer .supper-headphone-img img{
    position: absolute;
    width: 20%;
    right: 20px;
    top: 0px;
}

.right-supper-offer .span-supper-offer{
    position: absolute;
    font-size: 2.5rem;
    top: 0px;
    left: 0px;
    color: white;
    background-color: #ff4631;
    padding: 8px 30px;
    /* border-bottom-left-radius: 20px; */
    border-bottom-right-radius: 20px;
}

.right-supper-offer .information-supper-offer .five-mil-price{
    position: absolute;
    color: rgb(60, 60, 60);
    font-size: 3.5rem;
    right: 250px;
    bottom: 20px;
    border-bottom: 3px solid black;
    font-weight: bold;
}

.right-supper-offer .information-supper-offer .six-offer{
    position: absolute;
    font-size: 2.5rem;
    right: 120px;
    top: 25px;
    color: white;
    padding: 5px 10px;
    background-color: #ff4631;
    border-radius: 20px;

}

.right-supper-offer .information-supper-offer .supper-titel{
     position: absolute;
     font-size: 3rem;
     top: 100px;
     left:400px;
}

hr{
    position: absolute;
    width:1000px;
    top: 155px;
    left: 100px;
    height: 2px;
    background-color: #000000;
}
     

.right-supper-offer .information-supper-offer .offer-time{
     position: absolute;
     font-size: 2.3rem;
     left: 600px;
     bottom: 80px;
     color: #9b9b9b;
     
}

.right-supper-offer .information-supper-offer .time-remaining{
    position: absolute;
    font-size: 2.3rem;
     left: 525px;
     bottom: 40px;
     color: #9b9b9b;
}


.left-supper-offer{
    position: relative;
    box-shadow: 0px 0px 5px 6px rgb(144, 140, 140);
    height: 300px;
    margin: 0px 20px;
}

.left-supper-offer img{
    position: absolute;
    width: 100%;
    height: 300px;
}
                                                  /* start to make footer */

.top-footer {
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: #7f8c8d;
    height: 200px;
    margin-top: 70px;
 }

.top-footer .right-information{
    margin: 10px 30px;
    
  }

.top-footer .right-information h1{
    font-size: 2.3rem;
    color: white;
   }

 .top-footer .right-information p{
   color: white;
   font-size:1.4rem ;
   }

   .left-information{
    position: relative;
   }

.left-information .media-folowing{
    position:absolute ;
    color: white;
    font-size: 1.7rem;
    top: 20px;
    left: 130px;
}

.left-information .media-icons{
    position:absolute ;
    font-size: 4rem;
    bottom: 40px;
    left: 70px;
}

.left-information .media-icons i{
    margin-left: 40px;
}

 .down-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e4248;
    height: 45px;
 }

  .down-footer .rols-span .rols{
    color: white;
    font-size: 1.4rem;
    padding: 15px 0px;
  }
